<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Feather</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Icons</li>
    <li class="breadcrumb-item">Feather</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Feather Icons</h4>
          </div>
          <div class="card-body">
            <div class="row icon-feather-container">
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="alert-octagon"></i-feather> alert-octagon
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="alert-circle"></i-feather> alert-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="activity"></i-feather> activity
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="alert-triangle"></i-feather> alert-triangle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="align-center"></i-feather> align-center
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="airplay"></i-feather> airplay
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="align-justify"></i-feather> align-justify
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="align-left"></i-feather> align-left
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="align-right"></i-feather> align-right
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-down-left"></i-feather> arrow-down-left
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-down-right"></i-feather> arrow-down-right
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="anchor"></i-feather> anchor
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="aperture"></i-feather> aperture
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-left"></i-feather> arrow-left
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-right"></i-feather> arrow-right
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-down"></i-feather> arrow-down
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-up-left"></i-feather> arrow-up-left
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-up-right"></i-feather> arrow-up-right
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-up"></i-feather> arrow-up
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="award"></i-feather> award
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="bar-chart"></i-feather> bar-chart
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="at-sign"></i-feather> at-sign
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="bar-chart-2"></i-feather> bar-chart-2
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="battery-charging"></i-feather> battery-charging
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="bell-off"></i-feather> bell-off
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="battery"></i-feather> battery
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="bluetooth"></i-feather> bluetooth
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="bell"></i-feather> bell
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="book"></i-feather> book
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="briefcase"></i-feather> briefcase
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="camera-off"></i-feather> camera-off
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="calendar"></i-feather> calendar
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="bookmark"></i-feather> bookmark
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="box"></i-feather> box
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="camera"></i-feather> camera
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="check-circle"></i-feather> check-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="check"></i-feather> check
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="check-square"></i-feather> check-square
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="cast"></i-feather> cast
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="chevron-down"></i-feather> chevron-down
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="chevron-left"></i-feather> chevron-left
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="chevron-right"></i-feather> chevron-right
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="chevron-up"></i-feather> chevron-up
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="chevrons-down"></i-feather> chevrons-down
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="chevrons-right"></i-feather> chevrons-right
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="chevrons-up"></i-feather> chevrons-up
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="chevrons-left"></i-feather> chevrons-left
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="circle"></i-feather> circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="clipboard"></i-feather> clipboard
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="chrome"></i-feather> chrome
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="clock"></i-feather> clock
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="cloud-lightning"></i-feather> cloud-lightning
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="cloud-drizzle"></i-feather> cloud-drizzle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="cloud-rain"></i-feather> cloud-rain
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="cloud-off"></i-feather> cloud-off
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="codepen"></i-feather> codepen
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="cloud-snow"></i-feather> cloud-snow
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="compass"></i-feather> compass
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="copy"></i-feather> copy
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="corner-down-right"></i-feather> corner-down-right
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="corner-down-left"></i-feather> corner-down-left
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="corner-left-down"></i-feather> corner-left-down
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="corner-left-up"></i-feather> corner-left-up
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="corner-up-left"></i-feather> corner-up-left
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="corner-up-right"></i-feather> corner-up-right
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="corner-right-down"></i-feather> corner-right-down
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="corner-right-up"></i-feather> corner-right-up
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="cpu"></i-feather> cpu
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="credit-card"></i-feather> credit-card
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="crosshair"></i-feather> crosshair
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="disc"></i-feather> disc
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="delete"></i-feather> delete
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="download-cloud"></i-feather> download-cloud
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="download"></i-feather> download
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="droplet"></i-feather> droplet
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="edit-2"></i-feather> edit-2
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="edit"></i-feather> edit
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="external-link"></i-feather> external-link
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="eye"></i-feather> eye
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="feather"></i-feather> feather
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="facebook"></i-feather> facebook
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="file-minus"></i-feather> file-minus
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="eye-off"></i-feather> eye-off
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="fast-forward"></i-feather> fast-forward
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="file-text"></i-feather> file-text
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="film"></i-feather> film
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="file"></i-feather> file
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="file-plus"></i-feather> file-plus
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="folder"></i-feather> folder
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="filter"></i-feather> filter
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="flag"></i-feather> flag
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="globe"></i-feather> globe
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="grid"></i-feather> grid
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="heart"></i-feather> heart
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="home"></i-feather> home
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="github"></i-feather> github
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="image"></i-feather> image
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="inbox"></i-feather> inbox
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="layers"></i-feather> layers
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="info"></i-feather> info
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="instagram"></i-feather> instagram
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="layout"></i-feather> layout
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="link-2"></i-feather> link-2
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="life-buoy"></i-feather> life-buoy
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="link"></i-feather> link
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="log-in"></i-feather> log-in
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="list"></i-feather> list
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="lock"></i-feather> lock
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="log-out"></i-feather> log-out
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="loader"></i-feather> loader
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="mail"></i-feather> mail
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="maximize-2"></i-feather> maximize-2
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="map"></i-feather> map
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="maximize"></i-feather> maximize
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="map-pin"></i-feather> map-pin
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="menu"></i-feather> menu
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="message-circle"></i-feather> message-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="message-square"></i-feather> message-square
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="minimize-2"></i-feather> minimize-2
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="minimize"></i-feather> minimize
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="mic-off"></i-feather> mic-off
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="minus-circle"></i-feather> minus-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="mic"></i-feather> mic
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="minus-square"></i-feather> minus-square
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="minus"></i-feather> minus
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="moon"></i-feather> moon
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="monitor"></i-feather> monitor
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="more-vertical"></i-feather> more-vertical
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="more-horizontal"></i-feather> more-horizontal
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="move"></i-feather> move
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="music"></i-feather> music
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="navigation-2"></i-feather> navigation-2
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="navigation"></i-feather> navigation
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="octagon"></i-feather> octagon
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="package"></i-feather> package
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="pause-circle"></i-feather> pause-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="pause"></i-feather> pause
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="percent"></i-feather> percent
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="phone-call"></i-feather> phone-call
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="phone-forwarded"></i-feather> phone-forwarded
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="phone-missed"></i-feather> phone-miss
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="phone-off"></i-feather> phone-off
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="phone-incoming"></i-feather> phone-incoming
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="phone"></i-feather> phone
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="phone-outgoing"></i-feather> phone-outgoing
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="pie-chart"></i-feather> pie-chart
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="play-circle"></i-feather> play-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="play"></i-feather> play
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="plus-square"></i-feather> plus-square
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="plus-circle"></i-feather> plus-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="plus"></i-feather> plus
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="pocket"></i-feather> pocket
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="printer"></i-feather> printer
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="power"></i-feather> power
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="radio"></i-feather> radio
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="repeat"></i-feather> repeat
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="refresh-ccw"></i-feather> refresh-ccw
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="rewind"></i-feather> rewind
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="rotate-ccw"></i-feather> rotate-ccw
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="refresh-cw"></i-feather> refresh-cw
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="rotate-cw"></i-feather> rotate-cw
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="save"></i-feather> save
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="search"></i-feather> search
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="server"></i-feather> server
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="scissors"></i-feather> scissors
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="share-2"></i-feather> share-2
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="share"></i-feather> share
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="shield"></i-feather> shield
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="settings"></i-feather> settings
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="skip-back"></i-feather> skip-back
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="shuffle"></i-feather> shuffle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="sidebar"></i-feather> sidebar
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="skip-forward"></i-feather> skip-forward
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="slack"></i-feather> slack
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="slash"></i-feather> slash
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="smartphone"></i-feather> smartphone
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="square"></i-feather> square
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="speaker"></i-feather> speaker
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="star"></i-feather> star
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="stop-circle"></i-feather> stop-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="sun"></i-feather> sun
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="sunrise"></i-feather> sunrise
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="tablet"></i-feather> tablet
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="tag"></i-feather> tag
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="sunset"></i-feather> sunset
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="target"></i-feather> target
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="thermometer"></i-feather> thermometer
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="thumbs-up"></i-feather> thumbs-up
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="thumbs-down"></i-feather> thumbs-down
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="toggle-left"></i-feather> toggle-left
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="toggle-right"></i-feather> toggle-right
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="trash-2"></i-feather> trash-2
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="trash"></i-feather> trash
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="trending-up"></i-feather> trending-up
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="trending-down"></i-feather> trending-down
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="triangle"></i-feather> triangle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="type"></i-feather> type
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="twitter"></i-feather> twitter
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="upload"></i-feather> upload
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="umbrella"></i-feather> umbrella
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="upload-cloud"></i-feather> upload-cloud
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="unlock"></i-feather> unlock
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="user-check"></i-feather> user-check
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="user-minus"></i-feather> user-minus
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="user-plus"></i-feather> user-plus
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="user-x"></i-feather> user-x
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="user"></i-feather> user
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="users"></i-feather> users
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="video-off"></i-feather> video-off
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="video"></i-feather> video
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="voicemail"></i-feather> voicemail
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="volume-x"></i-feather> volume-x
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="volume-1"></i-feather> volume-1
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="volume-2"></i-feather> volume-2
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="volume"></i-feather> volume
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="watch"></i-feather> watch
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="wifi"></i-feather> wifi
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="x-square"></i-feather> x-square
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="wind"></i-feather> wind
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="x"></i-feather> x
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="x-circle"></i-feather> x-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="zap"></i-feather> zap
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="zoom-in"></i-feather> zoom-in
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="zoom-out"></i-feather> zoom-out
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="command"></i-feather> command
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="cloud"></i-feather> cloud
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="hash"></i-feather> hash
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="headphones"></i-feather> headphones
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="underline"></i-feather> underline
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="italic"></i-feather> italic
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="bold"></i-feather> bold
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="crop"></i-feather> crop
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="help-circle"></i-feather> help-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="paperclip"></i-feather> paperclip
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="shopping-cart"></i-feather> shopping-cart
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="tv"></i-feather> tv
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="wifi-off"></i-feather> wifi-off
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="gitlab"></i-feather> gitlab
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="sliders"></i-feather> sliders
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="archive"></i-feather> archive
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-down-circle"></i-feather> arrow-down-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-up-circle"></i-feather> arrow-up-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-left-circle"></i-feather> arrow-left-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="arrow-right-circle"></i-feather> arrow-right-circle
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="book-open"></i-feather> book-open
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="code"></i-feather> code
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="database"></i-feather> database
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="dollar-sign"></i-feather> dollar-sign
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="folder-plus"></i-feather> folder-plus
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="gift"></i-feather> gift
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="folder-minus"></i-feather> folder-minus
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="git-commit"></i-feather> git-commit
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="git-branch"></i-feather> git-branch
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="git-pull-request"></i-feather> git-pull-request
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="git-merge"></i-feather> git-merge
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="linkedin"></i-feather> linkedin
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="hard-drive"></i-feather> hard-drive
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="rss"></i-feather> rss
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="send"></i-feather> send
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="shield-off"></i-feather> shield-off
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="shopping-bag"></i-feather> shopping-bag
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="terminal"></i-feather> terminal
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="truck"></i-feather> truck
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="zap-off"></i-feather> zap-off
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <i-feather name="youtube"></i-feather> youtube
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
