<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Pricing</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Extra</li>
    <li class="breadcrumb-item">Pricing</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Pricing 1</h4>
          </div>
          <div class="card-body">
            <div class="demo">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                      <div class="pricingTable-header">
                        <i class="material-icons">brightness_medium</i>
                        <div class="price-value"> $10.00
                          <span class="month">per month</span>
                        </div>
                      </div>
                      <h3 class="heading">Standard</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>50GB</b> Disk Space</li>
                          <li>
                            <b>50</b> Email Accounts</li>
                          <li>
                            <b>50GB</b> Monthly Bandwidth</li>
                          <li>
                            <b>10</b> subdomains</li>
                          <li>
                            <b>15</b> Domains</li>
                        </ul>
                      </div>
                      <div class="pricingTable-signup">
                        <a href="#" onClick="return false;">sign up</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="pricingTable greenColor">
                      <div class="pricingTable-header">
                        <i class="material-icons">local_mall</i>
                        <div class="price-value"> $20.00
                          <span class="month">per month</span>
                        </div>
                      </div>
                      <h3 class="heading">Business</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>60GB</b> Disk Space</li>
                          <li>
                            <b>60</b> Email Accounts</li>
                          <li>
                            <b>60GB</b> Monthly Bandwidth</li>
                          <li>
                            <b>15</b> subdomains</li>
                          <li>
                            <b>20</b> Domains</li>
                        </ul>
                      </div>
                      <div class="pricingTable-signup">
                        <a href="#" onClick="return false;">sign up</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="pricingTable blueColor">
                      <div class="pricingTable-header">
                        <i class="material-icons">spa</i>
                        <div class="price-value"> $30.00
                          <span class="month">per month</span>
                        </div>
                      </div>
                      <h3 class="heading">PREMIUM</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>70GB</b> Disk Space</li>
                          <li>
                            <b>70</b> Email Accounts</li>
                          <li>
                            <b>70GB</b> Monthly Bandwidth</li>
                          <li>
                            <b>20</b> subdomains</li>
                          <li>
                            <b>25</b> Domains</li>
                        </ul>
                      </div>
                      <div class="pricingTable-signup">
                        <a href="#" onClick="return false;">sign up</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="pricingTable redColor">
                      <div class="pricingTable-header">
                        <i class="material-icons">filter_vintage</i>
                        <div class="price-value"> $40.00
                          <span class="month">per month</span>
                        </div>
                      </div>
                      <h3 class="heading">EXTRA</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>80GB</b> Disk Space</li>
                          <li>
                            <b>80</b> Email Accounts</li>
                          <li>
                            <b>80GB</b> Monthly Bandwidth</li>
                          <li>
                            <b>20</b> subdomains</li>
                          <li>
                            <b>35</b> Domains</li>
                        </ul>
                      </div>
                      <div class="pricingTable-signup">
                        <a href="#" onClick="return false;">sign up</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Pricing 2</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4">
                <div class="pricing">
                  <div class="pricing-title">
                    Developer
                  </div>
                  <div class="pricing-padding">
                    <div class="pricing-price">
                      <div>$19</div>
                      <div>per month</div>
                    </div>
                    <div class="pricing-details">
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">1 user agent</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">Core features</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">1GB storage</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">2 Custom domain</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon bg-danger text-white"><i class="fas fa-times"></i></div>
                        <div class="pricing-item-label">Live Support</div>
                      </div>
                    </div>
                  </div>
                  <div class="pricing-cta">
                    <a href="#" onClick="return false;">Subscribe <i class="fas fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4">
                <div class="pricing pricing-highlight">
                  <div class="pricing-title">
                    Small Team
                  </div>
                  <div class="pricing-padding">
                    <div class="pricing-price">
                      <div>$60</div>
                      <div>per month</div>
                    </div>
                    <div class="pricing-details">
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">5 user agent</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">Core features</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">10GB storage</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">10 Custom domain</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">24/7 Support</div>
                      </div>
                    </div>
                  </div>
                  <div class="pricing-cta">
                    <a href="#" onClick="return false;">Subscribe <i class="fas fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4">
                <div class="pricing">
                  <div class="pricing-title">
                    Enterprise
                  </div>
                  <div class="pricing-padding">
                    <div class="pricing-price">
                      <div>$499</div>
                      <div>per month</div>
                    </div>
                    <div class="pricing-details">
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">Unlimited user agent</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">Core features</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">8TB storage</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">Unlimited custom domain</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">Lifetime Support</div>
                      </div>
                    </div>
                  </div>
                  <div class="pricing-cta">
                    <a href="#" onClick="return false;">Subscribe <i class="fas fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
