<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Card</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Advanced</li>
    <li class="breadcrumb-item">Card</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h4>Card Title</h4>
          </div>
          <div class="card-body">
            This is some text within a card body.
          </div>
          <div class="card-footer">
            Footer Card
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>Card Action Button</h4>
          </div>
          <div class="card-body">
            This is some text within a card body.
          </div>
          <div class="card-footer text-right">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Card Title</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a href="#" onClick="return false;" class="card-link">Card link</a>
            <a href="#" onClick="return false;" class="card-link">Another link</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>Footer</h4>
          </div>
          <div class="card-body">
            This is some text within a card body.
          </div>
          <div class="card-footer">
            Footer Card
          </div>
        </div>
      </div>
    </div>
    <h2 class="section-title">Card Variants</h2>
    <p class="section-lead">
      Basically, the Bootstrap card can be given a color variant.
    </p>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-primary">
          <div class="card-header">
            <h4>Card Header</h4>
          </div>
          <div class="card-body">
            <p>Card <code>.card-primary</code></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-secondary">
          <div class="card-header">
            <h4>Card Header</h4>
          </div>
          <div class="card-body">
            <p>Card <code>.card-secondary</code></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-danger">
          <div class="card-header">
            <h4>Card Header</h4>
          </div>
          <div class="card-body">
            <p>Card <code>.card-danger</code></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-warning">
          <div class="card-header">
            <h4>Card Header</h4>
          </div>
          <div class="card-body">
            <p>Card <code>.card-warning</code></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-info">
          <div class="card-header">
            <h4>Card Header</h4>
          </div>
          <div class="card-body">
            <p>Card <code>.card-info</code></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-success">
          <div class="card-header">
            <h4>Card Header</h4>
          </div>
          <div class="card-body">
            <p>Card <code>.card-success</code></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-light">
          <div class="card-header">
            <h4>Card Header</h4>
          </div>
          <div class="card-body">
            <p>Card <code>.card-light</code></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-dark">
          <div class="card-header">
            <h4>Card Header</h4>
          </div>
          <div class="card-body">
            <p>Card <code>.card-dark</code></p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="section-title">Card Button &amp; Input</h2>
    <p class="section-lead">
      Also, you can give a button or input on the card header.
    </p>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card card-primary">
          <div class="card-header">
            <h4>Card Header</h4>
            <div class="card-header-action">
              <a href="#" onClick="return false;" class="btn btn-primary">
                View All
              </a>
            </div>
          </div>
          <div class="card-body">
            <p>Write something here</p>
          </div>
        </div>
        <div class="card card-primary">
          <div class="card-header">
            <h4>Button Group</h4>
            <div class="card-header-action">
              <div class="btn-group">
                <a href="#" onClick="return false;" class="btn btn-primary">Home</a>
                <a href="#" onClick="return false;" class="btn btn-primary">Profile</a>
                <a href="#" onClick="return false;" class="btn btn-primary">Setting</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p>Write something here</p>
          </div>
        </div>
        <div class="card card-success">
          <div class="card-header">
            <h4>Input Text</h4>
            <form class="card-header-form">
              <input type="text" name="search" class="form-control" placeholder="Search">
            </form>
          </div>
          <div class="card-body">
            <p>Write something here</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card card-secondary">
          <div class="card-header">
            <h4>Card Header</h4>
            <div class="card-header-action">
              <a href="#" onClick="return false;" class="btn btn-primary">View All</a>
              <a href="#" onClick="return false;" class="btn btn-danger">Delete All</a>
            </div>
          </div>
          <div class="card-body">
            <p>Write something here</p>
          </div>
        </div>
        <div class="card card-warning">
          <div class="card-header">
            <h4>Input Button</h4>
            <form class="card-header-form">
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-primary btn-icon"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body">
            <p>Write something here</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>Show/Hide</h4>
            <div class="card-header-action">
              <a type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Toggle
              </a>
            </div>
          </div>
          <div class="collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
            <div class="card-body">
              You can show or hide this card.
            </div>
            <div class="card-footer">
              Card Footer
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
