<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Basic Table</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Data Table</li>
    <li class="breadcrumb-item">Basic Table</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Basic Data Table</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
                  columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                  [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable">
                  <ngx-datatable-column [width]="200" name="Name">
                    <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                      <img src="{{ row.img }}" class="data-table-img" />
                      <div class="name-col-style">
                        <div>{{row.name}}</div>
                        <div class="font-12 text-muted">{{row.designation}}</div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Gender">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.gender}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Phone">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.phone}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Email">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.email}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Status">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="row.status=='Active'" class="badge-outline col-green">{{row.status}}
                      </div>
                      <div *ngIf="row.status=='Completed'" class="badge-outline col-red">{{row.status}}
                      </div>
                      <div *ngIf="row.status=='Pending'" class="badge-outline col-indigo">{{row.status}}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Address">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.address}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Actions" sortable="false">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <a class="mr-2 h-auto tblEditBtn">
                        <i class="fas fa-pen"></i>
                      </a>
                      <a class="h-auto tblDelBtn">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
