<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Chat</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Apps</li>
    <li class="breadcrumb-item">Chat</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div class="people-list" style="position: relative; max-height: 570px;" [perfectScrollbar]>
              <div class="chat-search">
                <input type="text" class="form-control" placeholder="Search..." />
              </div>
              <div class="m-b-20">
                <div id="chat-scroll">
                  <ul class="chat-list list-unstyled m-b-0">
                    <li class="clearfix active">
                      <img src="assets/images/users/user-4.png" alt="avatar">
                      <div class="about">
                        <div class="name">William Smith</div>
                        <div class="status">
                          <i class="material-icons offline">fiber_manual_record</i>
                          left 7 mins ago </div>
                      </div>
                    </li>
                    <li class="clearfix ">
                      <img src="assets/images/users/user-1.png" alt="avatar">
                      <div class="about">
                        <div class="name">Martha Williams</div>
                        <div class="status">
                          <i class="material-icons offline">fiber_manual_record</i>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/users/user-2.png" alt="avatar">
                      <div class="about">
                        <div class="name">Joseph Clark</div>
                        <div class="status">
                          <i class="material-icons online">fiber_manual_record</i>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/users/user-3.png" alt="avatar">
                      <div class="about">
                        <div class="name">Nancy Taylor</div>
                        <div class="status">
                          <i class="material-icons online">fiber_manual_record</i>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/users/user-4.png" alt="avatar">
                      <div class="about">
                        <div class="name">Margaret Wilson</div>
                        <div class="status">
                          <i class="material-icons online">fiber_manual_record</i>
                          online </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/users/user-5.png" alt="avatar">
                      <div class="about">
                        <div class="name">Joseph Jones</div>
                        <div class="status">
                          <i class="material-icons offline">fiber_manual_record</i>
                          left 30 mins ago </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/users/user-1.png" alt="avatar">
                      <div class="about">
                        <div class="name">Jane Brown</div>
                        <div class="status">
                          <i class="material-icons offline">fiber_manual_record</i>
                          left 10 hours ago </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/users/user-2.png" alt="avatar">
                      <div class="about">
                        <div class="name">Eliza Johnson</div>
                        <div class="status">
                          <i class="material-icons online">fiber_manual_record</i>
                          online </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="chat">
            <div class="chat-header clearfix">
              <img src="assets/images/users/user-1.png" alt="avatar">
              <div class="chat-about">
                <div class="chat-with">Maria Smith</div>
                <div class="chat-num-messages">2 new messages</div>
              </div>
            </div>
          </div>
          <div class="chat-box">
            <div class="card-body chat-content" style="position: relative; max-height: 400px;" [perfectScrollbar]>
              <div class="chat-item chat-left"><img src="assets/images/users/user-5.png">
                <div class="chat-details">
                  <div class="chat-text">Hi, How R U?!</div>
                  <div class="chat-time">09:51</div>
                </div>
              </div>
              <div class="chat-item chat-right"><img src="assets/images/users/user-1.png">
                <div class="chat-details">
                  <div class="chat-text">I am Fine</div>
                  <div class="chat-time">09:51</div>
                </div>
              </div>
              <div class="chat-item chat-right"><img src="assets/images/users/user-1.png">
                <div class="chat-details">
                  <div class="chat-text">You?</div>
                  <div class="chat-time">09:51</div>
                </div>
              </div>
              <div class="chat-item chat-left"><img src="assets/images/users/user-5.png">
                <div class="chat-details">
                  <div class="chat-text">I am fine too!!</div>
                  <div class="chat-time">09:51</div>
                </div>
              </div>
              <div class="chat-item chat-right"><img src="assets/images/users/user-1.png">
                <div class="chat-details">
                  <div class="chat-text">Have you look at current task?</div>
                  <div class="chat-time">09:51</div>
                </div>
              </div>
              <div class="chat-item chat-left"><img src="assets/images/users/user-5.png">
                <div class="chat-details">
                  <div class="chat-text">Yes I am.</div>
                  <div class="chat-time">09:51</div>
                </div>
              </div>
              <div class="chat-item chat-left"><img src="assets/images/users/user-5.png">
                <div class="chat-details">
                  <div class="chat-text">Its going good.</div>
                  <div class="chat-time">09:51</div>
                </div>
              </div>
              <div class="chat-item chat-right"><img src="assets/images/users/user-1.png">
                <div class="chat-details">
                  <div class="chat-text">Very Good</div>
                  <div class="chat-time">09:51</div>
                </div>
              </div>
              <div class="chat-item chat-right"><img src="assets/images/users/user-1.png">
                <div class="chat-details">
                  <div class="chat-text">Delevered me when complete</div>
                  <div class="chat-time">09:51</div>
                </div>
              </div>
              <div class="chat-item chat-left"><img src="assets/images/users/user-5.png">
                <div class="chat-details">
                  <div class="chat-text">Okay Sure</div>
                  <div class="chat-time">09:51</div>
                </div>
              </div>
              <div class="chat-item chat-right"><img src="assets/images/users/user-1.png">
                <div class="chat-details">
                  <div class="chat-text">Thank You...</div>
                  <div class="chat-time">09:51</div>
                </div>
              </div>
              <div class="chat-item chat-left chat-typing"><img src="assets/images/users/user-5.png">
                <div class="chat-details">
                  <div class="chat-text"></div>
                </div>
              </div>
            </div>
            <div class="card-footer chat-form">
              <form id="chat-form">
                <input type="text" class="form-control" placeholder="Type a message">
                <button class="btn btn-primary">
                  <i class="far fa-paper-plane"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
