<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Avatar</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Advanced</li>
    <li class="breadcrumb-item">Avatar</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-12">
        <div class="card">
          <div class="card-header">
            <h4>Avatar</h4>
          </div>
          <div class="card-body">
            <figure class="avatar mr-2 avatar-xl">
              <img src="assets/images/users/user-1.png" alt="...">
            </figure>
            <figure class="avatar mr-2 avatar-lg">
              <img src="assets/images/users/user-2.png" alt="...">
            </figure>
            <figure class="avatar mr-2">
              <img src="assets/images/users/user-5.png" alt="...">
            </figure>
            <figure class="avatar mr-2 avatar-sm">
              <img src="assets/images/users/user-3.png" alt="...">
            </figure>
            <figure class="avatar mr-2 avatar-xs">
              <img src="assets/images/users/user-4.png" alt="...">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-12">
        <div class="card">
          <div class="card-header">
            <h4>Avatar Icon</h4>
          </div>
          <div class="card-body">
            <figure class="avatar mr-2 avatar-xl">
              <img src="assets/images/users/user-1.png" alt="...">
              <img src="assets/images/users/user-5.png" class="avatar-icon" alt="...">
            </figure>
            <figure class="avatar mr-2 avatar-lg">
              <img src="assets/images/users/user-2.png" alt="...">
              <img src="assets/images/users/user-4.png" class="avatar-icon" alt="...">
            </figure>
            <figure class="avatar mr-2">
              <img src="assets/images/users/user-3.png" alt="...">
              <img src="assets/images/users/user-3.png" class="avatar-icon" alt="...">
            </figure>
            <figure class="avatar mr-2 avatar-sm">
              <img src="assets/images/users/user-4.png" alt="...">
              <img src="assets/images/users/user-2.png" class="avatar-icon" alt="...">
            </figure>
            <figure class="avatar mr-2 avatar-xs">
              <img src="assets/images/users/user-5.png" alt="...">
              <img src="assets/images/users/user-1.png" class="avatar-icon" alt="...">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-12">
        <div class="card">
          <div class="card-header">
            <h4>Avatar Presence</h4>
          </div>
          <div class="card-body">
            <figure class="avatar mr-2 avatar-xl">
              <img src="assets/images/users/user-1.png" alt="...">
              <i class="avatar-presence online"></i>
            </figure>
            <figure class="avatar mr-2 avatar-lg">
              <img src="assets/images/users/user-2.png" alt="...">
              <i class="avatar-presence busy"></i>
            </figure>
            <figure class="avatar mr-2">
              <img src="assets/images/users/user-3.png" alt="...">
              <i class="avatar-presence away"></i>
            </figure>
            <figure class="avatar mr-2 avatar-sm">
              <img src="assets/images/users/user-4.png" alt="...">
              <i class="avatar-presence offline"></i>
            </figure>
            <figure class="avatar mr-2 avatar-xs">
              <img src="assets/images/users/user-5.png" alt="...">
              <i class="avatar-presence online"></i>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-12">
        <div class="card">
          <div class="card-header">
            <h4>Avatar Initial</h4>
          </div>
          <div class="card-body">
            <figure class="avatar mr-2 avatar-xl" data-initial="UM"></figure>
            <figure class="avatar mr-2 avatar-lg bg-danger text-white" data-initial="UM"></figure>
            <figure class="avatar mr-2 bg-warning text-white" data-initial="UM"></figure>
            <figure class="avatar mr-2 avatar-sm bg-success text-white" data-initial="UM"></figure>
            <figure class="avatar mr-2 avatar-xs bg-info text-white" data-initial="UM"></figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
